<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.lease.web.app.mapper.LeaseAgreementMapper">
    
    <resultMap id="AgreementItemVoMap" type="com.atguigu.lease.web.app.vo.agreement.AgreementItemVo">
        <id column="id" property="id"/>
        <collection property="roomGraphVoList" ofType="com.atguigu.lease.web.app.vo.graph.GraphVo" autoMapping="true"/>
    </resultMap>
    
    <resultMap id="AgreementDetailVoMap" type="com.atguigu.lease.web.app.vo.agreement.AgreementDetailVo" >
        <id property="id" column="id"/>
        <collection property="apartmentGraphVoList" ofType="com.atguigu.lease.web.app.vo.graph.GraphVo" select="getApartmentGraphVo"
        column="apartment_id"/>
        <collection property="roomGraphVoList" ofType="com.atguigu.lease.web.app.vo.graph.GraphVo" select="getRoomGraphVo"
        column="room_id"/>

    </resultMap>

    <select id="listItem" resultMap="AgreementItemVoMap">
        select la.id,
               la.lease_start_date,
               la.lease_end_date,
               la.rent,
               la.payment_type_id,
               la.status lease_status,
               la.source_type,
               ai.name apartment_name,
               ri.room_number,
               gi.name,
               gi.url
        from lease_agreement la
                 left join apartment_info ai on la.apartment_id = ai.id and ai.is_deleted = 0
                 left join room_info ri on la.room_id = ri.id and ri.is_deleted = 0
                 left join graph_info gi on gi.item_type = 2 and gi.item_id = ri.id and gi.is_deleted = 0
        where la.is_deleted = 0
          and la.phone = #{phone}
    </select>
    <select id="getDetailById" resultMap="AgreementDetailVoMap">
        select la.id,
               la.phone,
               la.name,
               la.identification_number,
               la.apartment_id,
               la.room_id,
               la.lease_start_date,
               la.lease_end_date,
               la.lease_term_id,
               la.rent,
               la.deposit,
               la.payment_type_id,
               la.status,
               la.source_type,
               la.additional_info,
               ai.name apartment_name,
               ri.room_number,
               pt.name payment_type_name,
               lt.month_count lease_term_month_count,
               lt.unit lease_term_unit
        from lease.lease_agreement la
                 left join lease.apartment_info ai on la.apartment_id = ai.id and ai.is_deleted = 0
                 left join lease.room_info ri on la.room_id = ri.id and ri.is_deleted = 0
                 left join lease.payment_type pt on la.payment_type_id = pt.id and pt.is_deleted = 0
                 left join lease.lease_term lt on la.lease_term_id = lt.id and lt.is_deleted = 0
        where la.is_deleted = 0
    </select>

    <select id="getApartmentGraphVo" resultType="com.atguigu.lease.web.app.vo.graph.GraphVo">
        select id, name, item_type, item_id, url
            from lease.graph_info
        where is_deleted = 0
        and item_type = 1
        and item_id = #{apartment_id}
    </select>

    <select id="getRoomGraphVo" resultType="com.atguigu.lease.web.app.vo.graph.GraphVo">
        select id, name, item_type, item_id, url
        from lease.graph_info
        where is_deleted = 0
          and item_type = 2
          and item_id = #{room_id}
    </select>
</mapper>
